@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Kumbh+Sans:wght@100..900&family=Peralta&display=swap');

:root {
    --game-blue: #79ACA8;
    --game-brown: #C8A774;
    --game-yellow: #F7E68A;
    --game-bege: #EBB792;
    --game-red: #F0472B;
    --game-background: #756c55;
}

body { 
    margin: 0;
    overflow: hidden;
    background-color: var(--game-background);
}
canvas {
    display: block;
}

/* LOADER */
.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {    
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%; 
    background:
      radial-gradient(var(--r1) var(--r2) at top   ,var(--game-yellow) 79.5%, var(--game-blue) 80%),
      radial-gradient(var(--r1) var(--r2) at bottom,var(--game-blue) 79.5%,var(--game-yellow) 80%),
      radial-gradient(var(--r1) var(--r2) at top   ,var(--game-yellow) 79.5%,var(--game-blue) 80%),
      #ccc;
    background-size: 50.5% 220%;
    background-position: -100% 0%,0% 0%,100% 0%;
    background-repeat:no-repeat;
    animation: l9 2s infinite linear;
}
@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
}


/* GAME */
.game-ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-title-block {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    height: 200px;
    color: white;
}

.game-title {
    font-family: "Barrio", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.game-subtitle {
    font-family: "Kumbh Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
}


